[user]
	email = hainsworthwren@gmail.com
	name = Yuki Kume
[push]
	autoSetupRemote = 1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.kagero.sh"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
