[submodule "config/oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
	path = config/oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "config/oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = config/oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = config/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "config/oh-my-zsh/custom/plugins/zsh-fzf-history-search"]
	path = config/oh-my-zsh/custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule "config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/oh-my-zsh/custom/plugins/zsh-vi-mode"]
	path = config/oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = config/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "config/tmux/plugins/tmux-which-key"]
	path = config/tmux/plugins/tmux-which-key
	url = https://github.com/alexwforsythe/tmux-which-key.git
[submodule "config/tmux/plugins/tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "config/tmux/plugins/tmux-continuum"]
	path = config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "config/oh-my-zsh/custom/plugins/fzf-tab"]
	path = config/oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "config/oh-my-zsh/custom/plugins/forgit"]
	path = config/oh-my-zsh/custom/plugins/forgit
	url = https://github.com/wfxr/forgit
