[Unit]
Description="Auto commit and push dotfile contents"

[Service]
ExecStart=/usr/local/bin/git-push-all.sh /home/wren/dotfiles/
TimeoutSec=900

[Install]
WantedBy=default.target
